<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
    printerClass="NyanCat\PHPunit\ResultPrinter"
    stopOnFailure="false"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Calculator Test Suite">
            <directory>./src/Calculator/Test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>